@font-face {
    font-family: 'HUGEAvantGardeBold';
    src: url("/fonts/huge_agb_v5-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/huge_agb_v5-webfont.woff") format("woff"), url("/fonts/huge_agb_v5-webfont.ttf") format("truetype"), url("/fonts/huge_agb_v5-webfont.svg#svgFontName") format("svg");
}

@font-face {
    font-family: 'Galaxie';
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/GalaxieCopernicus-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/GalaxieCopernicus-Book.woff") format("woff"), url("/fonts/GalaxieCopernicus-Book.svg#svgFontName") format("svg");
}

@font-face {
    font-family: 'Galaxie';
    font-style: italic;
    font-weight: normal;
    src: url("/fonts/GalaxieCopernicus-BookItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/GalaxieCopernicus-BookItalic.woff") format("woff"), url("/fonts/GalaxieCopernicus-BookItalic.svg#svgFontName") format("svg");
}


/* HUGE Avant Garde Bold */

.HugePrimary {
    font: 21px/48px HUGEAvantGardeBold;
}

.HugeHeadlineDesktop {
    font: 120px/132px HUGEAvantGardeBold;
}

.HugeHeadlineMobile {
    font: 44px/48px HUGEAvantGardeBold;
}


/* Galaxie Copernicus Book */

.GalaxieSecondary {
    font: 16px/48px Galaxie;
}

.GalaxieBodyCopyDesktop {
    font: 24px/36px Galaxie;
}

.GalaxieBodyCopyMobile {
    font: 14px/24px Galaxie;
}

.copyright {
    font: 12px/16px "Helvetica Neue Regular", Helvetica, sans-serif;
}